body {
    background-image: url('https://cdn.vox-cdn.com/thumbor/1aY3dYYrBy5sSyimWIj2RVaIduU=/0x0:6000x4800/1200x800/filters:focal(3818x1875:4778x2835)/cdn.vox-cdn.com/uploads/chorus_image/image/66840504/Studio_Ghibli_Logo.0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 20px; 

}

.img-center {
    display: block;
    margin: auto;
    width: 100%;
}

h1 {
    background-color: black;
    color: rgb(205, 228, 248);
}

.mainstuff {
    background-color: rgb(205, 228, 248); 
    padding: 15px;
    margin: 20px 0; 
    
}

.iframe{
    text-align: center;
}

.tableaustyles {
    display: block;
    margin: auto;
    width: 100%;
}

ol {
    padding: 10px;
}

.footer {
    font-size: medium;
    background-color: aliceblue;
    text-align: center;
    padding: 10px;
}
nav a {
    color: rgb(13, 0, 255);
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}

nav a:hover {
    text-decoration: underline;
}
